header {
    background: white;
    top: 0px;
    width: 100%;
    height: 115px;
}
main {
    background-color: beige;
    height: 310px;
}
footer {
    background: blue;
    height: 310px;
}
body {
    margin: 0;
}

hr {
    margin-left: 0px;
    margin-top: 0px;
}
input {
    width: 100px;
    height: 30px;
    background-color: inherit;
    outline-color: #1DC078;
    border-radius: 5px;
    font-size: 16px;
    color: #5F5F5F;
    border: none;
}

/* 상단바 */
.top {
    margin: 0px 65px 0px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.top_text {
    color: black;
    font-size: 11pt;
    margin-right: 5pt;
}
.top_image {
    margin-right: 3pt;
}

/* nav */
header > nav {
    margin: 0px 65px 0px 10px;
}
.nav_items {
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 16px;
}
.nav_items ul > li {
    display: inline-block;
    margin-left: 20px;
}
.nav_items ul > li > a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.nav_items ul > li a:hover {
    color: #00D078;
}

/* 검색창 */
.search {
    background-color: #F6F6F6;
    width: 150px;
    height: 35px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #6D6D6D;
}
/* 로그인 버튼 */
.login {
    background-color: white;
    width: 60px;
    height: 35px;
    margin-top: 10px;
    margin-left: 20px;
    /* div의 border 설정 */
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #DBDBDB;
    font-size: 16px;
    padding-top: 3px;
}
/* 회원가입 버튼 */
.signup {
    background-color: #FF7867;
    width: 80px;
    height: 35px;
    margin-top: 10px;
    margin-left: 10px;
    /* div의 border 설정 */
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #DBDBDB;
    color: white;
    font-size: 16px;
    padding-top: 3px;
}

.signup:hover {
    background-color: #FF6D5A;
}

.banner {
    width: 50%;
    height: 317px;
    background-color: #38E5FF;
    padding-left: 50px;
}
.banner > div {
    background-color: #6344ec;
    border-radius: 3px;
    width: 110px;
    height: 23px;
    margin-top: 50px;
    font-size: 14px;
    font-weight: medium;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 24px;
}
.banner > h1 {
    line-height: 1.5;
}
.banner > p {
    margin-top: -10px; /* Q. 이게 정녕 최선일까...? 왜 기본 간격 크기가 이렇게 크고, 왜 있는지 */
}

.banner_image {
    width: 50%;
    height: 317px;
}