header {
    background: white;
    top: 0px;
    width: 100%;
    height: 427px;
}
main {
    background-color: white;
    height: 310px;
}
footer {
    background: blue;
    height: 310px;
}
body {
    margin: 0;
}

hr {
    margin-left: 0px;
    margin-top: 0px;
}

/* 상단바 */
.top {
    margin: 0px 65px 0px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.top_text {
    color: black;
    font-size: 11pt;
    margin-right: 5pt;
}
.top_image {
    margin-right: 3pt;
}

/* nav */
header > nav {
    margin: 0px 65px 0px 10px;
}
.nav_items {
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 16px;
}
.nav_items ul > li {
    display: inline-block;
    margin-left: 20px;
}
.nav_items ul > li > a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.nav_items ul > li a:hover {
    color: #00D078;
}

/* 검색창 */
.search {
    background-color: #F6F6F6;
    width: 150px;
    height: 35px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #6D6D6D;
}
.search > input {
    width: 100px;
    height: 30px;
    background-color: inherit;
    outline-color: #1DC078;
    border-radius: 5px;
    font-size: 16px;
    color: #5F5F5F;
    border: none;
}
/* 로그인 버튼 */
.login {
    background-color: white;
    width: 60px;
    height: 35px;
    margin-top: 10px;
    margin-left: 20px;
    /* div의 border 설정 */
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #DBDBDB;
    font-size: 16px;
    padding-top: 3px;
}
/* 회원가입 버튼 */
.signup {
    background-color: #FF7867;
    width: 80px;
    height: 35px;
    margin-top: 10px;
    margin-left: 10px;
    /* div의 border 설정 */
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #DBDBDB;
    color: white;
    font-size: 16px;
    padding-top: 3px;
}

.signup:hover {
    background-color: #FF6D5A;
}

/* 메인 배너 */
.banner {
    width: 50%;
    height: 317px;
    background-color: #38E5FF;
    padding-left: 50px;
}
.banner > div {
    background-color: #6344ec;
    border-radius: 3px;
    width: 110px;
    height: 23px;
    margin-top: 50px;
    font-size: 14px;
    font-weight: medium;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 24px;
}
.banner > h1 {
    line-height: 1.5;
}
.banner > p {
    margin-top: -10px; /* Q. 이게 정녕 최선일까...? 왜 기본 간격 크기가 이렇게 크고, 왜 있는지 */
}

.banner_image {
    width: 50%;
    height: 317px;
}

.banner_pagination {
    margin: 15px 0 15px 50px;
    display: flex;
    align-items: center;
}
.banner_player {
    display: flex;
    border-radius: 20px;
    background-color: #7F7F7F;
    width: 140px;
    height: 35px;
    align-items: center; /* 교차축에 대해 flex 항목들을 정렬하는 방식을 제어 */
    justify-content: center; /* 주축에 대해 flex 항목들을 정렬하는 방식을 제어 */
}
.banner_player > span, i {
    font-size: 14px;
    color: #FFFFFF;
}
.banner_player > div {
    margin-left: 30px;
}
.banner_category {
    margin-left: 10px;
    border-radius: 20px;
    background-color: white;
    border-color: #CED4DA;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    line-height: 36px;
    height: 35px;
}

.banner_vertical_line {
    background-color: #DEE2E6;
    width: 1px;
    height: 35px;
    margin-left: 15px;
}
.dropdown {
    margin-left: 150px;
    border-radius: 20px;
    background-color: white;
    border-color: #CED4DA;
    border-style: solid;
    border-width: 1px;
    width: 35px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    line-height: 36px;
}
.dropdown > i {
    color: #51585E;
}
.banner_horizontal_line {
    background-color: #DEE2E6;
    width: 100%;
    height: 1px;
}

/* 검색뷰 */
.main_search {
    margin-top: 50px;
}
.main_search > p {
    font-size: 23px;
    text-align: center;
}
.main_search > div {
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 30px;
    background-color: #E4F7EF;
    border-color: #A3CDBA;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 400;
    vertical-align: middle;
    line-height: 41px;
    width: 45%;
    height: 55px;
    box-shadow: 0 2px 4px -2px gray;
}
.main_search > div > input {
    margin-left: 22px;
    width: 90%;
    height: 40px;
    vertical-align: middle;
    background-color: inherit;
    font-size: 16px;
    color: #5F5F5F;
    border: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #A3CDBA;
    opacity: 1; /* Firefox */
}
:focus {
    /* input 태그 클릭시 나타나는 테두리 제거 */
    outline: none !important;
}
.main_search > div > i {
    color: black;
    font-size: 23px;
    margin-right: 25px;
}

.side_margin_container {
    margin: 15px 0 15px 50px;
}
.course_list_intro {
    width: 100%;
    height: 60px;
}

.course_list_intro > span {
    font-size: 25px;
    font-weight: 600;
}

.course_list_intro > p {
    margin-top: 10px;
    font-size: 14px;
    color: #ADADAD;
}

.course_list_intro > i {
    color: #1E1E1E;
    font-size: 20px;
}
.course_list_pics {
    margin-top: 22px;
    width: 230px;
    height: 150px;
}
.course_list {
    display: flex;
}
.course_list > div {
    margin-right: 6px;
}
.course_list > div > svg {
    margin-top: 5px;
}
.course_tag {
    margin-top: 10px;
}
.course_tag > span {
    padding: 6px 10px 6px 10px;
    font-size: 12px;
    border-radius: 5px;
}