/* 강의 목록 사진 */
.course_list_pics {
  margin-top: 22px;
  width: 230px;
  height: 150px;
}

/* 강의 별점 컨테이너 div */
.star_container {
  display: flex;
}
.star_container > svg {
  width: 15px;
  height: 15px;
}

/* 강의 설명 태그 (수강생 수, 업데이트) */
.course_tag {
  margin-top: 10px;
}
.course_tag > span {
  padding: 6px 10px 6px 10px;
  font-size: 12px;
  border-radius: 5px;
}