.footer_bottom_right {
  margin-right: 13%;
  display: flex;
  align-items: center; /* 수직 정렬 */
}
.footer_bottom_right a {
  margin-right: 10px;
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background-color: #bdbdbd;
  text-align: center;
  line-height: 35px;
}

.sns-icon {
  color: #303740;
  margin-top: 9px;
}