/* header */
header {
  background: white;
  top: 0px;
  width: 100%;
}
/* 상단바 */
.top {
  margin: 0px 60px 0px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.top_text {
  color: black;
  font-size: 11pt;
  margin-right: 5pt;
}
.top_image {
  margin-right: 3pt;
}