@font-face {
    font-family: "Font";
    src: url("./font/nanum.TTF");
}

body {
    font-family: "Font";
}

header {
    display: block;
}

.header_top {
    font-size: 13px;
    height: 14px;
    background-color: orange;
}

.header_top_left {
    background-color: yellow;
    display: inline-block;
}

.header_top_left_button {
    display: inline-block;
    vertical-align: middle;
    background-color: green;
}

.header_top_right {
    float: right;
    font-weight: bold;
    background-color: blueviolet;
}